<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon TCG</title>
</head>
<body>
    <div class="main_body">
        <form>
         
         
        <label for="submit"></label>
         <input type="submit" name="submit" formaction="/game">
        </form>
    </div>
</body>
</html>