<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon_game</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header>
        <div class="header_color">
            <h4>POKEMON_TCG</h4>
        </div>
    </header>
    <main><div class="body_">
        <div class="run_game"><button id="loginBtn">
            <a href="/index"><li>Start_game</li></a>
            </button></div>
    </div></main>
    <footer>
        <div class="footer_color">
            <div id="text"><h6>@copyright_jk</h6></div>
        </div>
    </footer>
</body>
</html>