<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon_game</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header>
        <div class="header_color">
            <h4>POKEMON_TCG</h4>
        </div>
    </header>
    
    <main>
        <div class="body_">
            <div class="text">
                Welcome to the world of my brand-new Pokémon Card Game! Utilizing the extensive Pokémon Trading Card Game (TCG) API, I've created a unique and exciting experience for Pokémon enthusiasts. Dive into a realm where strategy, luck, and a little bit of magic come together to bring your favorite Pokémon battles to life in card form.

                My game leverages real-time data and the rich variety of Pokémon cards available through the TCG API, allowing you to build your ultimate deck, challenge friends, and climb the ranks in thrilling duels. Whether you're a seasoned trainer or just starting your journey, there's something here for everyone.

                As with any new endeavor, especially one integrating complex APIs and vast datasets, you might encounter a few bugs or unexpected behaviors along the way. I appreciate your understanding and patience as I continue to refine and enhance the gameplay experience. Your feedback is invaluable in helping me create the best Pokémon Card Game possible.
            </div>
            <div class="b_centre">
                <form action="/game" method="GET">
                    <input type="submit" name="submit" value="Start Game">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_color">
            <div id="text"><h6>@copyright_jk</h6></div>
        </div>
    </footer>
</body>
</html>
