.header_color{
    background-color: red;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: whitesmoke;
    text-decoration: none;
    border: 0;
    border-radius: 50px;
}
li{
    list-style-type: none;
}
.footer_color{
    background-color: black;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    color: aliceblue;
}
.body_{
    height: fit-content;
    height: 100vh;
    background-image: url(images/img\ 4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.5;
}
.b_centre{

    
}
.text{
    opacity: 2;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding-bottom: 30px;
}